<!doctype html>

<head>
    <meta charset="utf-8">
    <title>#{change_pwd}</title>
    <meta name="description" content="My project">
    <meta name="author" content="Chali">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/png" href="images/flaticon.png">
    <link rel="stylesheet" href="css/common.css">
</head>

<style>
    .content{
        background-color: var(--bkg_sec_lighter);
    }
</style>

<body>

    <div class="nav_container">
        <nav>
            <div class="nav_title">
                <img src="/images/logo.svg" alt="Logo" class="logo">
                <h1>#{product_name}</h1>
            </div>
            
            <ul>
                <li>
                </li>
            </ul>
        </nav>
    </div>

    
    <section class="content">
        <div class="card">
            <p>#{change_pwd_text}</p>
            <label>#{old_password}</label>
            <div class="pwd_Wrap">
                <input id="i_current_pwd" type="password">
                <div class="eye_close"></div>
            </div>
            <label>#{password}</label>
            <div class="pwd_Wrap">
                <input id="i_pwd" type="password">
                <div class="eye_close"></div>
            </div>
            <label>#{confirm}</label>
            <div class="pwd_Wrap">
                <input id="i_pwd_confirm" type="password">
                <div class="eye_close"></div>
            </div>
            <button id="b_change_pwd">#{send}</button>
        </div>
    </section>

    <div class="footer_container">
        <footer>
            <div>
                <button id="b_lang_ES">#{b_lang_ES}</button>
                <button id="b_lang_EN">#{b_lang_EN}</button>
            </div>
            <div id="messenger_div" class="messenger_div"></div>
        </footer>
    </div>
    
    
</body>
<script src="js/lang/#{current_lang}.js"></script>
<script src="js/common.js"></script>
<script>

    /**
     * Allow a user to declare forgotten password
     */
    const changePwd = async()=>{
        
        const current_key = document.getElementById("i_current_pwd").value;
        const key = document.getElementById("i_pwd").value;
        const key_confirm = document.getElementById("i_pwd_confirm").value;
        //Check for key match
        if(key != key_confirm){
            messenger.show(toolText.different_password,4000,"red");
            return;
        }

        if(key==""){
            messenger.show(toolText.empty_fields,4000,"red");
            return;
        }
        const request = JSON.stringify({
            type:"user_change_pwd",
            data:{
                current_key:current_key,
                key:key
            }
        });
        try{
            await ajaxPost(request)
            messenger.show(toolText.lostPwd_success,4000,"black");
        }catch(issue){
            messenger.show(toolText.error(JSON.parse(issue)),4000,"orange");
        }
    }

    /**
     * Toggle visibility of a password field
     * @param {HTMLElement} e HTML element following the password field
     */
    const toggleVisibility = (e)=>{
        const icon = e.target;
        const input = icon.parentNode.children[0];
        const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
        input.setAttribute('type', type);
        // toggle the eye slash icon
        const form = icon.getAttribute('class') === 'eye_close' ? 'eye_open' : 'eye_close';
        icon.setAttribute("class",form);
    }

    /**
     * Pwd power check
     * @param {String} item Password
     */
    const isGoodPwd = (pwd)=>{
        const hasNoVoid = pwd.indexOf(' ') == -1
        const hasForbidden = /\|/.test(pwd);
        const hasNumber = /\d/.test(pwd);
        const hasUppercase = /[A-Z]/.test(pwd);
        const hasSpecial = /[ !@#$%^&*()_+\-=\[\]{};':",.<>\/?]/.test(pwd);
        const isLongEnough = pwd.length >6;
        return !hasForbidden&&hasNoVoid&&hasNumber&&hasUppercase&&hasSpecial&&isLongEnough
    }

    //Password management
    const eyes = document.getElementsByClassName("eye_close");
    for (let i = 0; i < eyes.length; i++) {
        const element = eyes[i];
        element.addEventListener("click",(e)=>{toggleVisibility(e)})
    }
    //Button management
    document.getElementById("b_change_pwd").addEventListener("click",changePwd);
</script>