<!doctype html>

<head>
    <meta charset="utf-8">
    <title>#{forgotten_pwd}</title>
    <meta name="description" content="My project">
    <meta name="author" content="Chali">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/png" href="images/flaticon.png">
    <link rel="stylesheet" href="css/common.css">
</head>

<style>
    .content{
        background-color: var(--bkg_sec_lighter);
    }
</style>

<body>

    <div class="nav_container">
        <nav>
            <div class="nav_title">
                <img src="/images/logo.svg" alt="Logo" class="logo">
                <h1>#{product_name}</h1>
            </div>
            
            <ul>
                <li>
                </li>
            </ul>
        </nav>
    </div>

    
    <section class="content">
        <div class="card">
            <p>#{forgot_pwd_text}</p>
            <div class="liner">
                <input id="i_mail" placeholder="#{generic_mail}" type="mail" style="flex:3">
                <button id="b_forgotten_pwd" style="flex:1">#{send}</button>
            </div>
        </div>
    </section>

    <div class="footer_container">
        <footer>
            <div>
                <button id="b_lang_ES">#{b_lang_ES}</button>
                <button id="b_lang_EN">#{b_lang_EN}</button>
            </div>
            <div id="messenger_div" class="messenger_div"></div>
        </footer>
    </div>
    
    
</body>

<script src="js/lang/#{current_lang}.js"></script>
<script src="js/common.js"></script>
<script>
    /**
     * Allow a user to declare forgotten password
     */
    const lostPwd = async()=>{
        //Check for mail
        let mail;
        try{
            mail = document.getElementById("i_mail").value;
        }catch(err){
            console.log("Missing field for mail : ",err);
        }
        
        if(mail==""){
            messenger.show(toolText.empty_fields,4000,"red");
            return
        }
        const request = JSON.stringify({
            type:"user_lost_pwd",
            data:{
                mail:mail
            }
        });
        try{
            await ajaxPost(request)
            messenger.show(toolText.lostPwd_success,4000,"black");
        }catch(issue){
            messenger.show(toolText.error(JSON.parse(issue)),4000,"orange");
        }
    }
    document.getElementById("b_forgotten_pwd").addEventListener("click",lostPwd);
</script>