<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="My project">
    <meta name="author" content="Chali">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="images/png" href="images/flaticon.png">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <div class="nav_container">
        <nav>
            <div class="nav_title">
                <img src="/images/logo.svg" alt="Logo" class="logo">
                <h1>#{product_name}</h1>
            </div>
            
            <ul>
                <li>
                    <a href="http://google.fr" target="_blank">Help</a>
                </li>
                <li>
                    <button id="nav_b_register">#{b_register}</button>
                </li>
            </ul>
        </nav>
    </div>

    
    <section class="content">
        <div class="loginPanelWrap">
            <div class="loginPanel">
                <p>#{email}</p>
                <input id="login_mail" type="email">
                <p>#{password}</p>
                <div class="pwd_Wrap">
                    <input id="login_pwd" type="password">
                    <div id="toggle_visibility" class="eye_close"></div>
                </div>
                <button id="b_login" class="b_login">#{b_login}</button>
            </div>
        </div>
    </section>
    <div class="footer_container">
        <footer>
            <div>
                <button id="b_lang_ES">#{b_lang_ES}</button>
                <button id="b_lang_EN">#{b_lang_EN}</button>
            </div>
            <div id="messenger_div" class="messenger_div"></div>
        </footer>
    </div>

    <div id="modal_wrapper" class="modal_wrapper">
        <div id="modal" class="modal">
            <div class="registerPanel">
                <p>#{name}</p>
                <input id="register_name" type="text">
                <p>#{email}</p>
                <input id="register_mail" type="email">
                <p>#{password}</p>
                <div class="pwd_Wrap">
                    <input id="register_pwd" type="password">
                    <div id="toggle_visibility" class="eye_close"></div>
                </div>
                <button id="b_register" class="b_login">#{b_register}</button>
            </div>
        </div>
    </div>
</body>

<script src="js/lang/#{current_lang}.js"></script>
<script src="js/common.js"></script>
<script src="js/login.js"></script>